* {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  text-decoration: none;
  color: #d1d5da;
}
.MarginLeft50{
  margin-left: 50px;
}
.MarginLeft180{
  margin-left: 180px;
}
body{
  background-color: #24292e;
}

ul {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 2px solid #898b8d;
  margin-bottom: -1px;
  text-decoration: none;
}
h3{
  color: #000;
}

li {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 16px;
  font-size: 15px;
  line-height: 1.5;
  color: #d1d5da;
  border-bottom: 2px solid transparent;
  text-decoration: none;
}

li:hover {
  cursor: pointer;
  color: #d1d5da;
  border-bottom-color: #d1d5da;
  transition: 0.2s ease;
  text-decoration: none;
  /* border-bottom: 2.5px solid #d1d5da; */
}


.active {
  font-weight: 600;
  color:#02c2f1;
  border-bottom-color: #02c2f1;
  text-decoration: none;
}

.active:hover {
  font-weight: 600;
  color: #02c2f1;
  border-bottom-color: #02c2f1;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 90px;
}

.text {
  margin: 0 5%;
}

.font{
  color: #d1d5da;
}

.ButtonAvancar{
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0);
  border: #24292e;
}
.ButtonAvancar:hover{
  cursor: pointer;
  filter: brightness(1.1);

}
.ImgAvancar{
  width: 50px;
  margin-left: 20px;
  margin-bottom: -8px;
}

.ImgAutores{
  margin-right: 5px;
  border-radius: 20px;
}

.Table{
  width: auto !important;
  margin-left: 45px !important;
  margin-right: 50px !important;
}
.Json{
  color: #2e2f2f;
}

.Result{
  width: 800px;
  margin-left: 520px;
  margin-top:-140px;
  height: 750px;
  background-color: #fff;
  color: #24292e;

}
.Input{
  color: #000;
  border: none;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px;
  width: 15%;
  border-radius: 50px;
}

.autores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%
}

.autorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem
}

@media(max-width: 1024px) {
  .autores {
    display: block
  }
}
.ButtonUtil{
    transition: 0.5s ease;
    width: 150px;
    color: black;
    height: 50px;
    background-color: #02c2f1;
    border: none;
    margin-left: 70px;
    border-radius: 10px;
   font-weight: bold;
}
.ButtonUtil:hover{
  border-radius: 40px;
  cursor: pointer;
  filter: brightness(1.2);
}

.MarginTop30{
  margin-top: 50px;
}